dataset
dataset/
data/
# mine 
rendered_frames/
rendered_frames_vid/
keyboard_rendered_frames/
counter_rendered_frames_v2/
custom_rendered_frames/
*.png
*.pyc

results
results/

logs
logs/

ckpts
ckpts/

scripts/data_prepare/job_prepare_WOT.sh
scripts/data_prepare/job_prepare_WAT.sh

job_run_CLNeRF.sh

job*.sh
test_run.sh

demo/*.mp4